In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('../data.csv')

In [4]:
len(data['lemma'].unique())

8227

In [5]:
len(data['word'].unique())

15621

In [6]:
unique_word_lemma_df = data[['word', 'lemma']].drop_duplicates().reset_index(drop=True)

In [7]:
unique_word_lemma_df

                 word         lemma
0                Беше           сум
1               јасен         јасен
2                   и             и
3              студен        студен
4            априлски      априлски
...               ...           ...
15833      утилитарна    утилитарен
15834      прирачници     прирачник
15835  прелиминарната  прелиминарен
15836   преведувањето   преведување
15837      усвојување    усвојување

[15838 rows x 2 columns]

In [8]:
sorted_unique_word_lemma_df = unique_word_lemma_df.sort_values(by='lemma').reset_index(drop=True)

In [9]:
sorted_unique_word_lemma_df

            word    lemma
0          'рбет    'рбет
1        'рбетот    'рбет
2      'рбетната  'рбетен
3      'рбетните  'рбетен
4          'Ртот      'рт
...          ...      ...
15833        џин      џин
15834      џинот      џин
15835      Џинот      џин
15836        Џин      џин
15837     џуџест   џуџест

[15838 rows x 2 columns]

In [10]:
sorted_unique_word_lemma_df.to_csv('../lemmas.csv')